.qmake.stash
Makefile

*.o

external/libjpeg/*.o
external/libjpeg/*.lo
external/libjpeg/*.la
external/libjpeg/.deps/*
external/libjpeg/.libs/*
external/libjpeg/Makefile
external/libjpeg/Makefile.in
external/libjpeg/aclocal.m4
external/libjpeg/ar-lib
external/libjpeg/autom4te.cache/*
external/libjpeg/cjpeg
external/libjpeg/compile
external/libjpeg/config.guess
external/libjpeg/config.log
external/libjpeg/config.status
external/libjpeg/config.sub
external/libjpeg/configure
external/libjpeg/depcomp
external/libjpeg/djpeg
external/libjpeg/install-sh
external/libjpeg/jconfig.cfg
external/libjpeg/jconfig.h
external/libjpeg/jpegtran
external/libjpeg/libtool
external/libjpeg/ltmain.sh
external/libjpeg/missing
external/libjpeg/rdjpgcom
external/libjpeg/wrjpgcom

external/indigo_sdk/lib
external/libraw/lib
external/lz4/dll
external/lz4/liblz4.a
external/lz4/liblz4-dll.rc


ain_imager_src/Makefile*
ain_imager_src/ain_imager
ain_imager_src/moc/*
ain_imager_src/object/*
ain_imager_src/qmake_qmake_immediate.qrc
ain_imager_src/qrc_qmake_qmake_immediate.cpp
ain_imager_src/qrc_style.cpp

ain_viewer_src/Makefile*
ain_viewer_src/ain_viewer
ain_viewer_src/moc/*
ain_viewer_src/object/*
ain_viewer_src/qmake_qmake_immediate.qrc
ain_viewer_src/qrc_qmake_qmake_immediate.cpp
ain_viewer_src/qrc_style.cpp

/indigo
/indigo/*

windows/ain_imager_32
windows/ain_imager_64
windows/ain_viewer_32
windows/ain_viewer_64
windows/Output




*.deb

