[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Ain Imager
Comment=Ain Imager
Exec=ain_imager --quiet
Icon=ain-imager.png
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;
Keywords=astronomy
