[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Ain INDIGO Viewer
Comment=Ain INDIGO Viewer
Exec=ain_viewer %u
Icon=ain-viewer.png
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;
Keywords=astronomy
